body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
* {
    box-sizing: border-box;
}
/* Navigation menu styles */
nav {
    width: 100%;
}

#navbar {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

#navbar li {
    padding: 20px;
    transition: background-color .3s;
}

#navbar li a {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

#navbar li:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}
/* Intro section styles */
#intro-section {
    position: relative;
    height: 100vh;    
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
#intro-section::before{
    content: " ";
    position:absolute;
    height: 100%;
    width: 150%;
    top: 47vh;
    background-color: black;
    z-index: -1;
    transform: rotate(7deg);
    /* animation: slide-in;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    transform: translate(-50%,-50%) rotate(7deg); */
}
/* @keyframes slide-in {
    to { transform: translate(0,0) rotate(7deg); }
} */
.intro__description {
    color: white;
}
.intro__description {
    max-width: 300px;
    margin-bottom: 25px;
}
.intro-desc__content {
    margin-bottom: 20px;
}
.intro__image-headshot {
    box-sizing: border-box;
    border: 5px solid white;    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
}
.intro-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.intro__social-links {
    display: flex;
    justify-content: center;
}
/* .intro__social-links a {
    border: 1px solid white;
    color: white;
    padding: 7px 10px;
    margin: 0 2px;
    transition: background-color .3s, color .3s;
}
.intro__social-links a:hover {
    background-color: white;
    color: black;
} */

button, .btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 7px 10px;
    margin: 0 2px;
    transition: background-color .3s, color .3s;
}
button:hover, .btn:hover {
    background-color: white !important;
    color: black;
    cursor: pointer;
}

#learn-more-btn {
    padding: 10px 20px;
    font-size: 1.5em;
    bottom: 50px;
    overflow: hidden;
}
#learn-more-btn .fa.fa-arrow-right {
    transition: .5s transform;
}
#learn-more-btn:hover .fa.fa-arrow-right {
    transform: translateX(15px);
}
.hide {
    display: none !important;
}

.info__image-headshot {
    max-width: 100px;
    width: 100px;
    height: 100px;
    aspect-ratio: 4/3;
}
.card-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #261C2C99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 12px;
    row-gap: 20px;
    background-color: #261C2C;
    color: white;
    position: relative;
}
#info-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.card__details table {
    color: white;
    border-spacing: 20px;
    display: table;
}
#info-card form input, #info-card form textarea,  #info-card form label{
    width: 100%;
}
#info-card form input, #info-card form textarea {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 6px;
    padding: 10px;
}
#info-card form input[type="submit"] {
    width: 250px;
    margin: 0px auto;
    margin-top: 10px;
    justify-self: flex-end;
}
#info-card form legend {
    padding: 10px;
}
