@font-face {
    font-family: "Digital-7";
    src: url("./fonts/digital-7.regular.ttf");
}

body {
    font-family: "Digital-7";
    font-size: 48px;
    background-color: #1A1A1A;
}


#clock-wrapper {
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#am-pm {
    color: white;
    padding: 10px;
}
.digitbox {
    color: white;
    background-color: rgb(48, 48, 77);
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    vertical-align: middle;
    border: 5px solid orange;
    display: inline-block;
}
.seperator {
    padding: 20px 5px;
    color: white;
}

@media (max-width: 500px) {
    body {
        font-size: 36px;
    }
}
